<div class="w-full h-0 shadow-lg pb-full rounded-xl bg-cyan-700 relative">
  <ng-content></ng-content>
  <div (click)="clickOnToggleOnOff()" *ngIf="showOnOffToggle" class="absolute top-0 left-0 z-50">
    <fa-icon [icon]="toggleStatus==ON?faToggleOn:faToggleOff"></fa-icon>
  </div>
  <div (click)="goToDetail()">
    <div class="absolute min-w-full h-3/5 pt-2">
      <fa-icon *ngIf="icon" class="text-center" [icon]="icon" [styles]="{'height':'100%','width':'100%'}" style="color: rgb(
         {{iconColor.r}},
         {{iconColor.g}},
         {{iconColor.b}}
       )">
      </fa-icon>
    </div>
    <div class="absolute inset-x-0 text-center bottom-0 h-2/5 pt-2">
      <p class="text-xl">{{value}}</p>
    </div>
  </div>
</div>
