<div class="pt-3">
  <span><p>Shortcuts</p></span>
  <app-room-list [userId]="userId"></app-room-list>
</div>
<div class="divider"></div>
<span><p>Devices <3</p></span>
<div class="grid grid-cols-3 gap-1 mt-10">
  <div class="col-span-2 hidden"></div> <!-- work around to do col-span works-->
  <app-device-item *ngFor="let device of devices" [inListMode]="true"
                   [colSpan]="device!=undefined?(device.components.length>1?2:1):1"
                   [device]="device">
  </app-device-item>
</div>

