<app-grid-list-container>
    <app-grid-list-element *ngFor="let gridListElement of gridListItemInputList; index as i" [item]="gridListElement" [index]="i" [selectedItem]="selectedItem" [backIsActive]="true" [listElementType]="gridListElementTypeEnum.BIG_ICON" (idOnClickEvent)="callAction($event)">
     <!-- back of card -->
      <form [formGroup]="configForm[i]">
        <div *ngFor="let field of actionList[i].fields">
          <label>{{field.name}}</label>
          <input [formControlName]="field.name" [value]="field.value" [type]="htmlService.getHtmlFieldType(field)" [min]="field.min" [max]="field.max" [step]="field.min/field.max">
        </div>
      </form>
    </app-grid-list-element>
</app-grid-list-container>
