<div class="grid  grid-cols-3 grid-rows-20  ">
  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>  <app-device-item></app-device-item>
  <app-device-item></app-device-item>
</div>
