<app-grid-list-container>
  <ng-container *ngFor="let gridListElement of gridListItemInputList; index as i" >
    <app-grid-list-element [item]="gridListElement" [index]="i" (idOnClickEvent)="callAction($event)">
     <!-- back of card -->
      <form [formGroup]="configForm[i]">
        <div *ngFor="let field of actionList[i].fields">
          <label>{{field.name}}</label>
          <input [formControlName]="field.name" [placeholder]="'c'">
        </div>
      </form>
    </app-grid-list-element>
  </ng-container>
</app-grid-list-container>
