<div class="max-w-screen-lg mx-auto p-4">
  <div class="grid grid-cols-3 gap-1 mt-10">
    <ng-container>
      <div (click)="clickOnItem(item.id,i)" *ngFor="let item of items; index as i" [ngClass]="{'text-accent':i==selectedItem}" class="w-full h-0 shadow-lg pb-full rounded-xl bg-cyan-700 relative">
        <div class="absolute min-w-full h-3/5 pt-2">
          <fa-icon class="text-center" [icon]="item.icon" [styles]="{'height':'100%','width':'100%'}">
          </fa-icon>
        </div>
        <div class="absolute inset-x-0 text-center bottom-0 h-2/5 pt-2" >
          <p [ngClass]="{'text-accent':i==selectedItem}" class="text-xl">{{item.label}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
